body {
  font-family: Arial, sans-serif;
}

/* ===== Feature Buttons ===== */
.feature-btn {
  background: #1abc9c;
  color: white;
  border-radius: 50px;
  padding: 8px 20px;
  border: none;
}

.feature-btn:hover {
  background: #159a80;
}

.contact-info{
  width: 60px;
}

/* ===== Featured Section ===== */
.featured-form {
  background: #111;
  color: white;
  padding: 50px;
}

.featured-form input {
  background: transparent;
  border: 1px solid #555;
  color: white;
}

.featured-form input::placeholder {
  color: #aaa;
}

.submit-btn {
  background: #1abc9c;
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
}

.submit-btn:hover {
  background: #159a80;
}

.hot-section {
padding-bottom: 80px;}

.section-title {
  font-weight: 600;
}

.title-underline {
  width: 40px;
  height: 4px;
  background: #1abc9c;
}

.property-btn {
  background: #1abc9c;
  color: white;
  border: none;
  padding: 10px 25px;
}

.property-btn:hover {
  background: #159a80;
}

.search-link {
  color: #1abc9c;
  font-weight: 500;
  cursor: pointer;
}

h6 {
  font-weight: 600;
}

p {
  color: #666;
  font-size: 14px;
}


/* ===== Stats Section ===== */
.stats-section {
  padding: 50px 0;
  background: linear-gradient(90deg, #2b2b2b, #1f1f1f);
  color: #fff;
}

.stat-circle {
  width: 130px;
  height: 130px;
  background: #fff;
  color: #222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  font-size: 28px;
  font-weight: 600;
}

.stat-text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* ===== Testimonial ===== */
.testimonial-section {
  padding: 60px 0;
}

.quote-icon {
  font-size: 60px;
  color: #1abc9c;
  display: block;
  margin-bottom: 20px;
}

.testimonial-text {
  max-width: 700px;
  margin: 0 auto 20px;
  font-size: 16px;
  color: #555;
  line-height: 1.8;
}

.testimonial-author {
  font-weight: 600;
  color: #333;
}

/* Indicators styling */
.custom-indicators {
  position: relative;
  margin-top: 30px;
}

.custom-indicators button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  background-color: #bbb !important;
  border: none;
  margin: 0 5px;
}

.custom-indicators .active {
  background-color: #333 !important;
}


/* ===== Developers ===== */
.developers img {
  height: 60px;
  margin: 20px;
}
